h1 {
  color: #3f2aff;
  text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.gallery-item {
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  height: auto;
}
